<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Languages" value="english,french,italian,german" />
		<add key="OriginalFolder" value="D:\Utility\HOI_IV\Original-HOI_IV" />
		<add key="TranslatedFolder" value="D:\Utility\HOI_IV\Traduzioni-HOI_IV" />
		<add key="WorkingFolder" value="D:\Utility\HOI_IV\WorkingFolder" />
	</appSettings>
</configuration>